<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.exam.modules.exam.mapper.ExamRepoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yf.exam.modules.exam.entity.ExamRepo">
        <id column="id" property="id" />
        <result column="exam_id" property="examId" />
        <result column="repo_id" property="repoId" />
        <result column="radio_count" property="radioCount" />
        <result column="radio_score" property="radioScore" />
        <result column="multi_count" property="multiCount" />
        <result column="multi_score" property="multiScore" />
        <result column="judge_count" property="judgeCount" />
        <result column="judge_score" property="judgeScore" />
        <result column="saq_count" property="saqCount" />
        <result column="saq_score" property="saqScore" />
        <result column="blank_count" property="blankCount" />
        <result column="blank_score" property="blankScore" />
        <result column="word_count" property="wordCount" />
        <result column="word_score" property="wordScore" />
        <result column="excel_count" property="excelCount" />
        <result column="excel_score" property="excelScore" />
        <result column="ppt_count" property="pptCount" />
        <result column="ppt_score" property="pptScore" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,`exam_id`,`repo_id`,`radio_count`,`radio_score`,`multi_count`,`multi_score`,
        `judge_count`,`judge_score`,`saq_count`,`saq_score`,`blank_count`,`blank_score`,
        `word_count`,`word_score`,`excel_count`,`excel_score`,`ppt_count`,`ppt_score`
    </sql>

    <resultMap id="ExamRepoExtResultMap" type="com.yf.exam.modules.exam.dto.ext.ExamRepoExtDTO" extends="BaseResultMap">
        <result column="totalRadio" property="totalRadio" />
        <result column="totalMulti" property="totalMulti" />
        <result column="totalJudge" property="totalJudge" />
        <result column="totalSaq" property="totalSaq" />
        <result column="totalBlank" property="totalBlank" />
        <result column="totalWord" property="totalWord" />
        <result column="totalExcel" property="totalExcel" />
        <result column="totalPPT" property="totalPPT" />
    </resultMap>

    <select id="listByExam" resultMap="ExamRepoExtResultMap">
        SELECT ep.*,
               repo.radio_count AS totalRadio,
               repo.multi_count AS totalMulti,
               repo.judge_count AS totalJudge,
               repo.saq_count AS totalSaq,
               repo.blank_count AS totalBlank,
               repo.word_count AS totalWord,
               repo.excel_count AS totalExcel,
               repo.ppt_count AS totalPPT

        FROM el_exam_repo ep
                 LEFT JOIN el_repo repo ON ep.repo_id=repo.id
        WHERE ep.exam_id=#{examId}
    </select>


</mapper>
